Read a user input and then read text file and look for a match. If a match is made grab the value after the first ':' and stop at the next ':'. Save this into a variable. 

1100 OAK HAMMOCK MAINLINE:SR589:52:TPKTOLLSFSTAMPA:Ferrucci, Michael;;tpk.sunwatch@dot.state.fl.us ;TPKSLAMNotify:tpkinconalert@dot.state.fl.us;;patricia.hernandez-rull@dot.state.fl.us;TPKTOLLSFSTAMPA@dot.state.fl.us;TPKTPAPLAZAMAN@dot.state.fl.us;TPKTMCOPERATOR@dot.state.fl.us;TPKSLAMNotify; tdc-si@dot.state.fl.us;TPKSRCOOPS; Kurowsky, Richard;;:TPKWODESK:tpk.sunwatch@dot.state.fl.us ;TPKScadaAlarmGroup;tpktmcoperator:1100.pdf:tpk.sunwatch@dot.state.fl.us :Hernandez-Rull, Patricia A; luis.lopez1@dot.state.fl.us; Ferrucci, Michael;:tpk.sunwatch@dot.state.fl.us;Liquori, Nicola;Sunwatch-BI;Vargas, Carlos;Santiago, Ashmed;Anglin;luis.lopez1@dot.state.fl.us;TPKTOLLSFSTAMPA;Beall, Mark;TPKSLAMnotify;:; Ferrucci,Michael;
1200 SPRING HILL MAINLINE:SR589:33:TPKTOLLSFSTAMPA:Newcomer, Rhoda;;Garcia, Denise;tpk.sunwatch@dot.state.fl.us;TPKSLAMNotify:tpkinconalert@dot.state.fl.us;;patricia.hernandez-rull@dot.state.fl.us;denise.garcia@dot.state.fl.us;TPKTOLLSFSTAMPA@dot.state.fl.us;TPKTPAPLAZAMAN@dot.state.fl.us;TPKTMCOPERATOR@dot.state.fl.us;TPKSLAMNotify;tdc-si@dot.state.fl.us;TPKSRCOOPS; Kurowsky,Richard;;:TPKWODESK:tpk.sunwatch@dot.state.fl.us ;TPKScadaAlarmGroup;tpktmcoperator:1200.pdf:tpk.sunwatch@dot.state.fl.us:Hernandez-Rull, Patricia A; Garcia, Denise; luis.lopez1@dot.state.fl.us; Newcomer, Rhoda;:tpk.sunwatch@dot.state.fl.us;Liquori, Nicola;Sunwatch-BI;Vargas, Carlos;Ford, Brian;jigomez.lobo@dot.state.fl.us;Santiago, Ashmed;Anglin;luis.lopez1@dot.state.fl.us;TPKTOLLSFSTAMPA;Beall, Mark;TPKSLAMnotify;:Prout,Danny; Newcomer, Rhoda;
1211 CR 578 SB-OFF:SR589:37:TPKTOLLSFSTAMPA:Newcomer, Rhoda;;Garcia, Denise;tpk.sunwatch@dot.state.fl.us;TPKSLAMNotify:tpkinconalert@dot.state.fl.us;;patricia.hernandez-rull@dot.state.fl.us;denise.garcia@dot.state.fl.us;TPKTOLLSFSTAMPA@dot.state.fl.us;TPKTPAPLAZAMAN@dot.state.fl.us;TPKTMCOPERATOR@dot.state.fl.us;TPKSLAMNotify;tdc-si@dot.state.fl.us;TPKSRCOOPS;Kurowsky,Richard;;:TPKWODESK:tpk.sunwatch@dot.state.fl.us ;TPKScadaAlarmGroup;tpktmcoperator:1211.pdf:tpk.sunwatch@dot.state.fl.us:Hernandez-Rull, Patricia A; Garcia, Denise; luis.lopez1@dot.state.fl.us; Newcomer, Rhoda;:tpk.sunwatch@dot.state.fl.us;Liquori, Nicola;Sunwatch-BI;Vargas, Carlos;Ford, Brian;jigomez.lobo@dot.state.fl.us;Santiago, Ashmed;Anglin;luis.lopez1@dot.state.fl.us;TPKTOLLSFSTAMPA;TPKSLAMnotify;:Prout,Danny; Newcomer,Rhoda;
1211 CR 578 NB-ON:SR589:37:TPKTOLLSFSTAMPA:Newcomer, Rhoda;;Garcia, Denise;tpk.sunwatch@dot.state.fl.us;TPKSLAMNotify:tpkinconalert@dot.state.fl.us;;patricia.hernandez-rull@dot.state.fl.us;denise.garcia@dot.state.fl.us;TPKTOLLSFSTAMPA@dot.state.fl.us;TPKTPAPLAZAMAN@dot.state.fl.us;TPKTMCOPERATOR@dot.state.fl.us;TPKSLAMNotify;tdc-si@dot.state.fl.us;TPKSRCOOPS; Kurowsky,Richard;;:TPKWODESK:tpk.sunwatch@dot.state.fl.us ;TPKScadaAlarmGroup;tpktmcoperator:1211.pdf:tpk.sunwatch@dot.state.fl.us:Hernandez-Rull, Patricia A; Garcia, Denise; luis.lopez1@dot.state.fl.us; Newcomer, Rhoda:tpk.sunwatch@dot.state.fl.us;Liquori, Nicola;Sunwatch-BI;Vargas, Carlos;Ford, Brian;jigomez.lobo@dot.state.fl.us;Santiago, Ashmed;Anglin;luis.lopez1@dot.state.fl.us;TPKTOLLSFSTAMPA;TPKSLAMnotify;:Prout,Danny; Newcomer,Rhoda;
1221 CORTEZ BLVD (SR 50) SB-ON:SR589:46:TPKTOLLSFSTAMPA:Newcomer, Rhoda;;Garcia, Denise;tpk.sunwatch@dot.state.fl.us;TPKSLAMNotify:tpkinconalert@dot.state.fl.us;;patricia.hernandez-rull@dot.state.fl.us;denise.garcia@dot.state.fl.us;TPKTOLLSFSTAMPA@dot.state.fl.us;TPKTPAPLAZAMAN@dot.state.fl.us;TPKTMCOPERATOR@dot.state.fl.us;TPKSLAMNotify;tdc-si@dot.state.fl.us;TPKSRCOOPS; Kurowsky,Richard;;:TPKWODESK:tpk.sunwatch@dot.state.fl.us ;TPKScadaAlarmGroup;tpktmcoperator:1221.pdf:tpk.sunwatch@dot.state.fl.us:Hernandez-Rull, Patricia A; Garcia, Denise; luis.lopez1@dot.state.fl.us; Newcomer, Rhoda:tpk.sunwatch@dot.state.fl.us;Liquori, Nicola;Sunwatch-BI;Vargas, Carlos;Ford, Brian;jigomez.lobo@dot.state.fl.us;Santiago, Ashmed;Anglin;luis.lopez1@dot.state.fl.us;TPKTOLLSFSTAMPA;TPKSLAMnotify;:Prout,Danny; Newcomer,Rhoda;
1221 CORTEZ BLVD (SR 50) NB-OFF:SR589:46:TPKTOLLSFSTAMPA:Newcomer, Rhoda;;Garcia, Denise;tpk.sunwatch@dot.state.fl.us;TPKSLAMNotify:tpkinconalert@dot.state.fl.us;;patricia.hernandez-rull@dot.state.fl.us;denise.garcia@dot.state.fl.us;TPKTOLLSFSTAMPA@dot.state.fl.us;TPKTPAPLAZAMAN@dot.state.fl.us;TPKTMCOPERATOR@dot.state.fl.us;TPKSLAMNotify; tdc-si@dot.state.fl.us;TPKSRCOOPS; Kurowsky,Richard;;:TPKWODESK:tpk.sunwatch@dot.state.fl.us ;TPKScadaAlarmGroup;tpktmcoperator:1221.pdf:tpk.sunwatch@dot.state.fl.us:Hernandez-Rull, Patricia A; Garcia, Denise; luis.lopez1@dot.state.fl.us; Newcomer, Rhoda:tpk.sunwatch@dot.state.fl.us;Liquori, Nicola;Sunwatch-BI;Vargas, Carlos;Ford, Brian;jigomez.lobo@dot.state.fl.us;Santiago, Ashmed;Anglin;luis.lopez1@dot.state.fl.us;TPKTOLLSFSTAMPA;TPKSLAMnotify;:Prout,Danny; Newcomer,Rhoda
